@CHARSET "UTF-8";

/**
 * Accordion
 * @version     $Id$
 */
.ui-accordion { /*resets*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	font-family: Verdana, Arial, sans-serif;
}

.ui-accordion-group { /*resets*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	border: 0;
	border-bottom: none;
}

.ui-accordion-header { /*resets*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	cursor: pointer;
	background: #e6e6e6
		url(../images/accordion/e6e6e6_40x100_textures_02_glass_75.png) 0 50%
		repeat-x;
}

.ui-accordion-header a { /*resets*/
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
	display: block;
	font-size: 0.8em;
	font-weight: normal;
	text-decoration: none;
	padding: .5em .5em .5em 1.7em;
	color: #555555;
	background: url(../images/accordion/888888_7x7_arrow_right.gif) .5em 50%
		no-repeat;
}

.ui-accordion-header a:hover {
	background: url(../images/accordion/454545_7x7_arrow_right.gif) .5em 50%
		no-repeat;
	color: #212121;
}

.ui-accordion-header:hover {
	background: #dadada
		url(../images/accordion/dadada_40x100_textures_02_glass_75.png) 0 50%
		repeat-x;
	color: #212121;
}

.selected .ui-accordion-header,.selected .ui-accordion-header:hover {
	background: #ffffff
		url(../images/accordion/ffffff_40x100_textures_02_glass_65.png) 0 50%
		repeat-x;
}

.selected .ui-accordion-header a,.selected .ui-accordion-header a:hover
	{
	color: #222222;
	background: url(../images/accordion/222222_7x7_arrow_down.gif) .5em 50%
		no-repeat;
}

.ui-accordion-content {
	margin: 0;
	/*padding: 1.5em 1.7em;*/
	background: #ffffff;
	color: #222222;
	font-size: 1.1em;
}